* {
    box-sizing: border-box;
}
/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Zoom */
.info-box {
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* Sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* Change width with javascript function in script.js */
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #818181;
    transition: 0.2s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    display: block;
    width: 100%;
    text-align: right;
    padding-right: 32px;
    padding-top: 18px;
  }
  
  .openbtn {
    font-size: 3vw;
    cursor: pointer;
    background-color: white;
    color: #539e66;
    border: none;
    float: right;
  }
  
  .openbtn:hover {
    color: rgb(238, 143, 89);
  }
  
  

/* Landscape Large */
@media (min-width: 1000px), (orientation: landscape) {
    form {
        padding: 4vw;
    }
    h1 {
        font-family: 'Fredoka One', cursive;
        font-size: 4vw;
        padding-top: 0;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 80px;
    }
    h3 {
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 20pt;
        margin: 0;
        padding-bottom: 2vw;
    }
    a:hover {
        text-decoration: none;
        color: rgb(238, 143, 89);
    }
    .main-content {
        width: 65%;
        padding-top: 2vw;
        margin: auto;
        justify-content: center;
    }
    .dashboard {
        display: inline-block;
        background: white;
        height: 20vw;
        width: 100%;
        margin: auto;
        border: none;
    }
    .button {
        font-family: 'Raleway', sans-serif;
        background-color: #539e66;
        color: white;
    }
    .list-header {
        text-align: center;
        padding-bottom: 2vw;
    }
    .submitHeader {
        padding: 0 0 2vw 0;
    }
    
    form {
        text-align: center;
    }
    input {
        display: inline-flex;
        width: 25vw;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8vw;
        text-align: center;
        color: grey;
        background: rgb(215, 224, 216);
        padding: 10px;
        margin: auto;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .form-submit button {
        color: white;
        background-color: #4f724a;
        width: 25vw;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8vw;
        padding: 10px;
        margin: auto;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #sub-button:hover {
        background: rgb(238, 143, 89);
    }
    .submitItem {
        margin: 0;
        padding: 0 1vw 0 1vw;
        display: inline;
    }
    #notes {
        display: block;
    }
    #email {
        display: block;
    }
    .form-submit {
        margin-bottom: 0;
        padding: 2rem 0 0 0;
        display: block;
    }
    .plant-button {
        font-size: 2vw;
    }
    .plant-button:active {
        border: none;
        color: rgb(238, 143, 89);
    }
    .plant-button {
        border: none;
        display: flex;
        background: white;
    }
    #plantList {
        float: left;
        padding-left: 15%;
    }
    
    /* Modal */
    ul {
        list-style-type: none;
    }
    ul>h3 {
        text-align: center;
        padding-top: 5vw;
    }
    
    /* Plant Info Box - inside modal */
    .info-box {
        background: white;
        width: 80vh;
        height: 80%;
        margin: auto;
    }
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 4vw;
        font-weight: bold;
        transition: 0.3s;
    }
}

/* Landscape General */
@media (orientation: landscape) {
    body {
        width: 90%;
        margin: auto;
    }
    h1 {
        font-family: 'Fredoka One', cursive;
        color: #4f724a;
        text-shadow: 0 2px 1px rgba(48, 104, 73, 0.4);
        font-size: 7vw;
        line-height: 7vw;
        padding:  2vw 3vw 0 2.2vw;
        margin: 0 3vw 0 0;
    }
    h2 {
        font-size: 5vw;
    }
    li {
        padding: 0 0 0 7%;
    }
    #plantist {
        padding-left: 15%;
    }
    form {
        padding: 1vw;
    }
    .requestHeader {
        padding: 0 0 2vw 0;
    }
    .aboutHeader {
        text-align: center;
    }
    .banner {
        background: white;
        padding-top: 0;
        display: flex;
        float: left;
        width: 50%;
        margin: 0;
    }
    .main-nav {
        float: right;
        display: flex;
        padding: 0;
        width: 40%;
        margin: 0 0 0 auto;
    }
    .main-content {
        padding: 5vw 0 0 0;
    }
    #sub-button:hover {
        background: rgb(238, 143, 89);
    }
    a {
        color: #4f724a;
        padding: 1.5vw 2vw 0 0;
    }
    a:hover {
        text-decoration: none;
        color: rgb(238, 143, 89);
    }
    p, a {
        font-family: 'Raleway', sans-serif;
        float: right;
        font-size: 2.5vw;
    }
    header {
        display: inline;
        background: white;
        width: 100%;
    }
    .home-button {
        font-family: 'Fredoka One', cursive;
        color: #4f724a;
        font-size: 5vw;
        padding: 0 0 7vw 2vw;
        margin: 0;
        float: left;
    }
    .plant-button {
        color: black;
    }
    .plant-button:hover {
        color: rgb(238, 143, 89);
    }
    .plant-button:active {
        border: none;
        color: rgb(238, 143, 89);
    }
    .plant-button {
        border: none;
        display: flex;
        background: white;
    }
    .sidebar {
        height: 100%;
        width: 0; /* Change width with javascript function in script.js */
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        width: 100%;
        transition: 0.2s;
        float: right;
      }
      
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
      .sidebar .closebtn {
        display: inline;
        width: 100%;
        text-align: right;
        font-size: 50px;
        padding-right: 32px;
        padding-top: 18px;
      }
      
      .openbtn {
        font-size: 3vw;
        cursor: pointer;
        background-color: white;
        color: #539e66;
        border: none;
        float: right;
      }
      
      .openbtn:hover {
        color: rgb(238, 143, 89);
      }
      
      #main {
        transition: margin-left .5s;
        padding: 20px;
      }
      .infoList {
          padding-left: 0;
      }
    
}

/* Mobile First Portrait */
@media (orientation: portrait) {
    body {
        margin: 0;
        color: #4c4c4c;
    }
    header {
        border-bottom: 5px white solid;
        background: white;
        width: 100%;
        display: flex;
    }
    main {
        height: 100%;
        padding-bottom: 100px;
        position: relative;
    }
    form {
        position: relative;
        text-align: center;
        margin: auto;
    }
    input {
        position: relative;
        width: 70vw;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 5vw;
        padding: 4vw;
        margin-bottom: 4vw;
        border: none;
        border-radius: 8px;
        background: rgb(215, 224, 216);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .banner {
        text-align: center;
        width: 100%;
        padding-top: 10vw;
        background-size: cover;
        background: linear-gradient(to bottom,
        rgba(79, 105, 82, 0.5) 30%,
        white),
        url("pexels-garrett-morrow-1638073.jpg");
    }
    .dashboard {
        display: block;
        width: 90vw;
        height: 90vw;
        margin: auto;
        margin-top: 2vw;
        border-radius: 20px;
        opacity: .8;
    }
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 5vw;
        color: #818181;
        display: block;
        width: 100%;
        transition: 0.2s;
        float: right;
      }
    .aboutHeader {
        padding: 0 0 2vw 0;
    }
    .requestHeader {
        padding: 0 0 4vw 0;
    }
    .list-header {
        text-align: center;
    }
    .button {
        font-family: 'Raleway', sans-serif;
        background-color: #539e66;
        color: white;
    }
    .home-button {
        font-family: 'Fredoka One', cursive;
        color: #4f724a;
        text-shadow: 0 4px 0 rgba(0,0,0, .4);
        font-size: 10vw;
        padding: 0 0 7vw 2vw;
        margin: 0;
        float: left;
    }
    .openbtn {
        position: absolute;
        right: 0;
        padding: 1vw 2vw 0 0;
        font-size: 10vw;
        line-height: 10vw;
    }
    .form-submit button {
        color: white;
        background-color: #4f724a;
        width: 70vw;
        font-size: 5vw;
        padding: 4vw;
        margin: auto;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #sub-button:hover {
        background: rgb(238, 143, 89);
    }
    .submitItem, .form-submit, .notes {
        margin-bottom: 1vw;
        padding: 0 0 0 0;
    }
    .main-content {
        position: relative;
        background: white;
        margin: auto;
        width: 75%;
        padding-left: 20px;
    }
    .plant-button {
        border: none;
        display: flex;
        background: white;
    }

    /* Typography */

    h1 {
        font-family: 'Fredoka One', cursive;
        color: white;
        text-shadow: 0 4px 0 rgba(0,0,0, .4);
        font-size: 20vw;
        padding-bottom: 7vw;
        margin-top: 0;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 6vw;
    }
    li {
        font-family: sans-serif;
        font-size: 4vw;
        padding-left: 5%;
    }
    h3 {
        font-family: 'Raleway', sans-serif;
        color: grey;
        font-size: 5vw;
    }

    p, a {
        font-family: 'Raleway', sans-serif;
        font-size: 4vw;
        padding: 0;
        margin: auto;
        color: #525653;
        text-decoration: none;
    }
    .banner:link {
        font-family: 'Fredoka One', cursive;
        color: white;
        text-shadow: 0 4px 0 rgba(0,0,0, .4);
        font-size: 20vw;
        margin-bottom: 2vw;
    }
    .plant-button {
        font-size: 4vw;
    }
    .plant-button:active {
        border: none;
        color: rgb(238, 143, 89);
    }

    /* Navigation */
    a:link {
        color: #525653;
    }
    a:hover {
        text-decoration: none;
        color: rgb(238, 143, 89);
    }
    a:hover {
        text-decoration: none;
        color: rgb(238, 143, 89);
    }
    .main-nav {
        display: flex;
        width: 100%;
        padding-top: 60px;
    }
    .sidebar {
        height: 0; /* Change height with javacsript function */
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-y: hidden;
        transition: 0.5s;
      }
      .sidebar a {
        text-decoration: none;
        color: #818181;
        float: left;
        transition: 0.2s;
        padding: 0 3vw 3vw 3vw;
        width: 25%;
        margin: auto;
        text-align: center;
      }
      #main {
        transition: margin-top .5s;
        padding: 20px;
      }
    /* Modal */
    ul {
        list-style-type: none;
        padding: 5%;
    }
    ul>h3 {
        text-align: center;
        padding-top: 5vw;
    }
    /* Plant Info Box - inside modal */
    .info-box {
        background: white;
        width: 80%;
        height: 80vw;
        margin: auto;
    }
    /* The Close Button */
    .close {
        position: absolute;
        top: 5vw;
        right: 5vw;
        color: #f1f1f1;
        font-size: 4vw;
        font-weight: bold;
        transition: 0.3s;
    }
}

